/* style.css */
body {
	font-family: Arial, sans-serif;
	text-align: center;
}

#weather-data {
	margin-top: 20px;
	width: 20%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(5, 85, 235, 0.1);
	transition: transform 0.3s;
}
img {
	width: 100px;
}
#weather-data:hover {
	box-shadow: 0 0 10px rgba(5, 85, 235, 0.5);
    transform: scale(1.02);
}
